<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="myget" value="https://www.myget.org/F/vidalink/auth/634138b1-d6aa-4db6-b388-b583b5c2f855/api/v3/index.json" />
    </packageSources>
</configuration>